<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- 调试hibernate使用，将本次sql的参数打印的控制台中 -->
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
	
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/exitsoft-basic-curd.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/exitsoft-basic-curd-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>