/.settings/
.project
.classpath

*/logs/
*/target/
*/.settings/
*/.project
*/.classpath
*/.springBeans


/showcase/*/logs/*
/showcase/*/target/*
/showcase/*/.settings/
/showcase/*/.project
/showcase/*/.classpath
/showcase/*/.springBeans

*.class
*.jar
*.war
*.ear